<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Add Employees</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="container">
        <div class="navbar" sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')">
            <a href="/showEvents"><i class="fa fa-fw fa-home"></i> Home</a>
            <div sec:authorize="hasAuthority('SUPERADMIN')">
                <a href="/listUsers"><i class="fa fa-fw fa-user"></i> Manage Users</a>
            </div>
            <a href="/addEventForm"><i class="fa fa-plus"></i> Add Events</a>
            <div class="logout-link">
                <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    Log Out
                </a>
                <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </form>
            </div>
        </div>
    <h2> Add Event</h2>
    <hr/>
    <form th:action="@{/saveEvent}" th:object="${event}" method="POST" enctype="multipart/form-data">
        <label for="eventName">Name:</label>
        <span style="color: red;">*</span>
        <input type="text" th:value="${event.eventName}" id="eventName" name="eventName" required="true" placeholder="Enter name of the event" class="form-control col-4 mb-4" />
        <label for="dateEvent">Date Event:</label>
        <span style="color: red;">*</span>
        <input type="date" th:value="${#dates.format(event.dateEvent, 'dd-MM-yyyy')}" id="dateEvent" name="dateEvent" required="true"  class="form-control col-4 mb-4" />
        <label for="timeEvent">Time Event:</label>
        <span style="color: red;">*</span>
        <input type="time" th:value="${event.timeEvent}" name="timeEvent" id="timeEvent" required="true"  class="form-control col-4 mb-4" />
        <label for="location">Location Event:</label>
        <span style="color: red;">*</span>
        <input type="text" th:value="${event.location}" name="location" id="location" required="true" placeholder="Enter location of the event" class="form-control col-4 mb-4" />
        <label for="location">Location Organizer:</label>
        <span style="color: red;">*</span>
        <input type="text" th:value="${event.organizer}" name="organizer" id="organizer" required="true"  placeholder="Enter organizer" class="form-control col-4 mb-4" />
        <label for="urlLink">URL Link:</label>
        <input type="text" th:value="${event.urlLink}" name="urlLink" id="urlLink" placeholder="Enter url link" class="form-control col-4 mb-4" />
        <label for="description">Event description:</label>
        <br>
        <textarea style="width: 70%;" id="description" name="description" maxlength="4000" placeholder="Enter description of event" rows="10"></textarea>
        <br>
        <label> Upload photos:   </label>
        <input type="file" name="image" accept="image/png, image/jpeg" />
        <div>
        <button class="btn btn-primary" type="submit"> Save </button>
        </div>
        <input type="hidden" th:field="${event.id}"/>
    </form>
    <hr/>
    <a th:href="@{/showEvents}"> Back to list </a>
</div>
</body>
</html>
