<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <title> events </title>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>
</head>
<body>
<main>
  <div class="settings">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="navbar" sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')">
      <a href="/showEvents"><i class="fa fa-fw fa-home"></i> Home</a>
      <div sec:authorize="hasAuthority('SUPERADMIN')">
        <a href="/listUsers"><i class="fa fa-fw fa-user"></i> Manage Users</a>
      </div>
      <a href="/addEventForm"><i class="fa fa-plus"></i> Add Events</a>
      <div class="logout-link">
        <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
          Log Out
        </a>
        <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        </form>
      </div>
    </div>

  <div class ="header-event-board">
    <h1> Welcome to <b> [[${#request.userPrincipal.principal.fullName}]]</b>'s Event Board </h1>
    <div sec:authorize="hasAuthority('USER')">
      <form th:action="@{/logout}" method="post">
        <button class="setting-button" type="submit">Log out</button>
      </form>
    </div>
  </div>
  <div class="classify-containter">
    <div class="type">
      <a th:href="@{/showEvents(tag='my')}">
        <button class="button-event-type" sec:authorize="hasAuthority('USER')">MyEvents</button>
      </a>
      <a th:href="@{/showEvents}">
      <button class="button-event-type">All Events</button></a>
      <a th:href="@{/showEvents(tag='past')}">
        <button class="button-event-type">Past Events</button>
      </a>
      <a th:href="@{/showEvents(tag='upcoming')}">
      <button class="button-event-type">Upcoming Events</button>
      </a>
    </div>
    <div class ="event-board">
      <div class="event-container" th:each="event : ${events}">
        <div class="image-container">
          <img th:if="${event.photosImagePath != null}"
               th:src="@{${event.photosImagePath}}"
               width="100%" height="160" />
          <img th:unless="${event.photosImagePath != null}"
               src="../static/images/event.jpg"
               width="100%" height="160"
               th:src="@{images/event.jpg}" />
        </div>
        <div class="content-container">
          <p class="event-name"> <a th:href="@{/eventPost(eventId=${event.id})}"> <b th:text="${event.eventName}"></b></a></p>
          <div class="seperator"> </div>
          <p class="event-date">
            <i class="far fa-calendar-alt"></i>
            <span th:text="${#dates.format(event.dateEvent, 'dd-MM-yyyy')} + ' at ' + ${event.timeEvent}"></span>
          </p>
          <div class="seperator"> </div>
          <p class="event-location">
            <i class="fas fa-map-marker-alt"></i>
            <span th:text="${event.location}"></span>
          </p>
          <div class="seperator"> </div>
          <div class="tags">
            <div class="category"> </div>
          </div>
          <div class="additional-info">
            <div class="description-wrapper"> <p th:text="${event.description}"></p> </div>
          </div>
          <div class="post-container" >
            <a th:href="@{/showUpdateEvent(eventId=${event.id})}">
              <button class="post-button" id="update-button"sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')">Update</button>
            </a>
            <a th:href="@{/deleteEvent(eventId=${event.id})}">
              <button class="post-button" id="delete-button"sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN')">Delete </button>
            </a>
            <button class="rsvp-button" id="rsvp-button" sec:authorize="hasAuthority('USER')"
                    th:attr="data-event-id=${event.id}, data-rsvped=${userRsvped}">
              RSVP
            </button>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="/js/rsvp.js"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
</body>

</html>
