<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events Newsfeed</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>
<body>
<main>
    <div class="navbar">
        <a href="/showEvents"><i class="fa fa-fw fa-home"></i> Home</a>
        <div class="logout-link">
            <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                Log Out
            </a>
            <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
        </div>
    </div>

    </div>
        <div class="seperator"> </div>
    </div>
    <div class ="header-event-board">
        <h1 th:text="${event.eventName}"> </h1>
        <div class ="host-tag"> <b th:text="${'Hosted by ' + event.organizer}"></b> </div>
    </div>
    <div class="event-post-containter">
        <div class="info-container">
            <div class="image-container">
                <img th:if="${event.photosImagePath != null}"
                     th:src="@{${event.photosImagePath}}"
                     width="620"
                     height ="350"/>
                <img th:unless="${event.photosImagePath != null}"
                     src="../static/images/event.jpg"
                     width="620"
                     height ="350"
                     th:src="@{images/event.jpg}" />
            </div>
            <div class="basic-info">
                <p class="event-date"> <i class="far fa-calendar-alt"></i> <span th:text="${#dates.format(event.dateEvent, 'dd-MM-yyyy')}"> </span> </p>
                <div class="seperator"> </div>
                <p class="event-location" >
                    <i class="fas fa-map-marker-alt"></i>
                    <span th:text="${event.location}">Location</span>
                </p>
                <p> <span th:text="${event.urlLink} ?: 'None'"></span>
                </p>
                <div class="rsvp-button-container">
                    <form th:action="@{/rsvpPost}" th:method="post">
                        <input type="hidden" th:name="eventId" th:value="${event.id}" />
                        <button class="rsvp-button"
                                th:id="rsvp-button"
                                sec:authorize="hasAuthority('USER')"
                                th:if="${#lists.contains(eventList, event) and !eventService.isUserRsvped(event.id,currentUsername)}"
                                type="submit">
                            RSVP
                        </button>
                        <button class="rsvped-button"
                                th:id="rsvped-button"
                                sec:authorize="hasAuthority('USER')"
                                th:if="${#lists.contains(eventList, event) and eventService.isUserRsvped(event.id,currentUsername)}"
                                type="submit">
                            RSVP-ed
                        </button>
                    </form>
            </div>
                <div class="seperator"> </div>
            </div>
            <div class="additional-container">
                <div class ="description-wrapper">
                    <b style="color:#606060; font-size: 25px;"> Details</b>
                    <p> <span th:text="${event.description}" style='white-space:pre'></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

